services:
  epic-node:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: epic-node
    restart: always
    entrypoint:
      - "/home/epicsvcs/entrypoint.sh"
    environment:
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "LANG=en_US.UTF-8"
      - "LANGUAGE=en_US:en"
    hostname: "epic-node"
    ipc: "private"
    labels:
      org.opencontainers.image.ref.name: "ubuntu"
      org.opencontainers.image.version: "24.04"
    logging:
      driver: "json-file"
      options: {}
    networks:
      - "epicsvcs"
    ports:
      - "3413:3413/tcp"
      - "3414:3414/tcp"
    user: "epicsvcs"
    volumes:
      - "epicdata:/home/epicsvcs/.epic"
    working_dir: "/home/epicsvcs"

volumes:
  epicdata:
    external: true

